@charset 'UTF-8';

@import 'common/media';
@import 'common/mixins';
@import 'common/functions';

// Make border box the default so we get pixel-perfect positioning and sizing.
// Includes the border size in the element box size calculation.
// Paul Irish wrote a good post about this:
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// 
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 8px 0;
	text-align: inherit;
	font-family: inherit;
	font-weight: 600;
	line-height: 1.1;
}

// Helpful color naming site:
// http://chir.ag/projects/name-that-color
$rgba_athensgray: rgba(244, 244, 245, 1);
$rgba_cerulean: rgba(0, 174, 238, 1);
$rgba_dodgerblue: rgba(75, 120, 250, 1);

%flex_container {
	display: flex;
}
%flex_child_shrink {
	position: relative;
	flex-shrink: 1;
}
%flex_child_grow {
	position: relative;
	flex-grow: 1;
}

#page-wrap {
	@include pinstripe(#a0a1b0);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; // Same font as on gregoryland.com, and by coincidence also on Vimeo's
	font-size: 14px;
	line-height: 20/14;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}


#page-head {
	background: rgba(0, 0, 0, 0.75);
	text-align: center;
	font-size: 1.1em;
	padding: 4px;
	min-width: 800px;

	> .title {
		color: #f4f4f5;
		font-weight: 600;
		font-size: 1.6em;

		> .vimeo-text {
			color: $rgba_cerulean;
			font-weight: 800;
			font-size: 1.2em;
		}
		> .author {
			padding-left: 32px;
			color: #ffff00;
		}
	}
}

#page-main-content {
	position: relative;
	flex-grow: 1;
	overflow-y: auto;
	min-width: 800px;
}

#playlist {
	text-align: center;
	background: #333;
	min-width: 800px;

	> .thumb {
		$thumb_size: 84px;

		display: inline-block;
		margin: 8px;
		width: $thumb_size;
		height: $thumb_size;
		border: 1px solid rgba_white(0.2);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;

		&.current {
			border: 1px solid $rgba_cerulean !important;
		}

		&:hover {
			border: 1px solid rgba_white(0.7);
		}
	}
}

#video-info {
	@extend %flex_container;
	$min_height: 140px;
	min-height: $min_height;
	background: #f7f7f7;

	> .title-area {
		@extend %flex_child_shrink;
		text-align: center;
		padding: 16px;
		width: 25%;
		min-width: 240px;
		background: #fff;
		box-shadow: 2px 0 1px 1px rgba_black(0.2);
	}

	> .description-area {
		@extend %flex_child_grow;
		padding: 16px;
	}
}
#video-title {
}
#video-upload-date {
}
#video-description {
}

@import 'player/player';
@import 'player/controls';
@import 'player/timeline';